html {
    overflow:hidden;
}
.name {
    cursor: auto;
}
body {
    background-color: #f6e7ba;
    color: #d5532d;
}
h2 {
    color: #d5532d;
}
ul.sessions > li div.time {
    color: #d5532d;
}
ul.sessions > li div.speaker {
    background-color: #f6e7ba;
}
ul.sessions > li div.speaker > span.venue {
    background-color: #f6e7ba;
}
