html {
    overflow:hidden;
}
.name {
    cursor: auto;
}
body {
    background-color: #f1d49c;
    color: white;
}
h2 {
    color: #3494af; /* blue */
}
ul.sessions > li div.time {
    color: #3494af;
}
ul.sessions > li div.speaker {
    background-color: #f1d49c;
    color: #000000;
}
ul.sessions > li div.speaker > span.venue {
    background-color: #f1d49c;
    color: #b74734; /* orange */
}
