/* 
2026 Colors 
* #8dc63f green
* #d4542c orange
* #000000 black
* #551f7a purple
*/
html {
  overflow: hidden;
}
.name {
  cursor: auto;
}
body {
  background-color: #000000;
  color: white;
}
h2 {
  color: #8dc63f;
}
ul.sessions > li div.name {
  color: #ffffff !important;        /* !important needed to override sched.co base styles */
}
ul.sessions > li div.time {
  color: #8dc63f;
}
ul.sessions > li div.speaker {
  background-color: #551f7a;
  color: #ffffff;
}
ul.sessions > li div.speaker > span.venue {
  background-color: #551f7a;
  color: #d4542c;
}

/*  handle long session names */
ul.sessions > li div.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}